@model CapstoneProject.Models.LoginModel
@{
    Layout = null;
    string routePrefix = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") != "Development" ? "/cis4396-f04" : "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="@Url.Content(routePrefix + "/css/CreateAccountStyles.css")">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="@Url.Content(routePrefix + "/images/bell_tower.jpg")" alt="Temple Bell Tower">
        </div>
        <div class="right">
            <div class="create-account-box">
                <img src="@Url.Content(routePrefix + "/images/templeTlogo.png")" alt="Temple Logo" class="logo">
                <h2>Create an Account</h2>
                <p>Fill in your email to recieve a new password</p>
                <form asp-controller="Account" asp-action="ResetPasswordClick" method="post">
                    <div class="name-fields">
                        <input type="email" asp-for="Email" placeholder="Email address" required>
                    </div>
                    <button type="submit" name="action" value="createAccount">Reset Password</button>
                </form>
                <p class="note">Please note admin will reach out to you with a new password.</p>
                <p>@ViewBag.ErrorMessage</p>
                <a asp-controller="Login" asp-action="Login" class="button">Return to Login</a>
            </div>
        </div>
    </div>
    <script>
        const routePrefix = "@(routePrefix)";
    </script>
</body>
</html>

